<%= render :partial =>'widgets/links' %>
<h2>Dentist information</h2>
    Name:<%=@dentist.name%> <br>
    Max patient capacity:<%=@dentist.max_patient_capacity%> <br>
    Accepting new patient?<%=@dentist.accepting_new_patient%> <br>
    Hours:<%=@dentist.hours%> <br>
    Rating:<%=@dentist.rating%> <br>
    Created at:<%=@dentist.created_at%> <br>
    Updated at:<%=@dentist.updated_at%> <br>
    Total number of patients: <%= @dentist.patients.count %>
